<p id="notice"><%= notice %></p>

<p>
  <strong>New demo:</strong>
  <%= @demo_1.new_demo %>
</p>

<p>
  <strong>New demo 1:</strong>
  <%= @demo_1.new_demo_1 %>
</p>

<%= link_to 'Edit', edit_demo_1_path(@demo_1) %> |
<%= link_to 'Back', demo_1s_path %>
